// COLORS
$primary-color: #610d0b;
$secondary-color: #cea10e;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(231, 231, 231);

$dark-grey: #333333;

$dark-blue-text: #7e0b0b; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
